<div class="form-control ui-inputtext">
  <span *ngFor="let item of getModelProperty()" style="height: 30px; display: inline-block; background-color: blue; color: white; margin-bottom: 6px; margin-right: 6px; padding: 6px">
    <div style="height: 30px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <span>{{getItemModelDescription(item)}} &nbsp;&nbsp;</span>
        <button type="button" class="close" (click)="removeItem(item)" style="float: none; color: white; opacity: 100;">
            <span aria-hidden="true">×</span>
        </button>
        <span>&nbsp;&nbsp;</span>
    </div>
  </span>


  <app-auto-complete-form formConfig="acFormConfig" modelObject="acModelObject"/>


</div>

