<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{ windowTitle }}
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
    </h4>
  </div>
  <div class="panel-body">

    Model: {{usuario | json}}

    <ng-template #citiesTemplateRef>

        <p-autoComplete   
        [placeholder]="'Cidades do usuário...'"
        [(ngModel)]="citiesStrSelected" 
        [suggestions]="citiesStr"
        [style]="{'width':'100%'}"
        [inputStyle]="{'width':'330px'}"
        (completeMethod)="searchCitiesByName($event)" 
        [multiple]="true">
      </p-autoComplete>
      
    </ng-template>

    <app-my-form 
      [teste]="'aa'" 
      [formConfigs]="formConfigs"  
      [modelObject]="usuario"
      (saveEvent)="save()"
      (cancelEvent)="cancel()"
    >
    </app-my-form>

  </div>
</div>