<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{ windowTitle }}
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
    </h4>
  </div>
  <div class="panel-body">

    Model: {{usuario | json}}

    <ng-template #citiesTemplateRef>

      <div class="form-control ui-inputtext">
        <span *ngFor="let city of usuario.citiesAllowed" style="height: 30px; display: inline-block; background-color: blue; color: white; margin-bottom: 6px; margin-right: 6px; padding: 6px">
          <div style="height: 30px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
              <span>{{city.name}} &nbsp;&nbsp;</span>
              <button type="button" class="close" (click)="removeCity(city)" style="float: none; color: white; opacity: 100;">
                  <span aria-hidden="true">×</span>
              </button>
              <span>&nbsp;&nbsp;</span>
          </div>
        </span>
      </div>
      
    </ng-template>

    <app-my-form 
      [teste]="'aa'" 
      [formConfigs]="formConfigs"  
      [modelObject]="usuario"
      (saveEvent)="save()"
      (cancelEvent)="cancel()"
      [bottomTemplateRef]="bottomTemplateRef"
    >
      <ng-template  #bottomTemplateRef>
          <button type="submit" class="btn btn-primary" style="float: right" (click)="save()">Salvar</button>
          <button type="submit" class="btn" style="float: right" (click)="cancel()">Cancelar</button>
      </ng-template>
    </app-my-form>

  </div>
</div>