<div>
    <form>
    
        <div *ngFor="let formRow of formConfigs">
            <div *ngFor="let formConfig of formRow.formConfigs" class="form-group" [style.width]="formConfig.width == 0 ? '100%' : formConfig.width" >
                
                <dynamic-form-holder [formConfig]="formConfig" [modelObject]="modelObject"></dynamic-form-holder>
            
                <div *ngIf="initiated">
                    <!--<div *ngIf="formConfig.formControl != null">
                        <span *ngFor="let error of formConfig.formControl.errors | toArray">
                            {{error}}
                        </span>
                    </div>-->
                </div>
            </div>
        </div>

       
    
        <div class="form-row" style="overflow: hidden;">
                <button type="submit" class="btn btn-primary" style="float: right" (click)="save()">Salvar</button>
                <button type="submit" class="btn" style="float: right" (click)="cancel()">Cancelar</button>
        </div>
    </form>
  </div>
  
  